node_modules/
coverage/
.tmp/
.exact/
packages/*/dist/
packages/*/*.tsbuildinfo
framework-adapters/*/dist/
framework-adapters/*/*.tsbuildinfo
react-adapters/*/dist/
react-adapters/*/*.tsbuildinfo
plugins/*/dist/
plugins/*/*.tsbuildinfo
component-libraries/*/dist/
component-libraries/*/*.tsbuildinfo
apps/*/dist/
apps/*/*.tsbuildinfo
